.container-fluid {
  padding: 0 !important; }

/* NAVIGATION BAR */
.navigationBar {
  margin: 0;
  height: 8vh;
  background-color: #39483D;
  display: flex; }

/* BASELINE NAVIGATION BAR STYLING */
.navLogo {
  height: 8vh;
  float: left;
  display: flex;
  justify-content: center; }

/* navigation bar website logo */
#navLogo {
  height: 100%;
  width: 80%;
  background-image: url("../images/Group 42 (2) 1.jpg");
  background-size: contain;
  background-repeat: no-repeat; }

/* navigation bar website logo input/ this changes when screen size shifts/ shifting to the small logo */
.navButtons {
  height: 100%;
  background-color: #39483D;
  float: left;
  display: flex;
  align-items: center;
  color: white;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold; }

/* navigation bar buttons */
.navButtons ul {
  margin: 0;
  padding: 0;
  display: flex; }

.navButtons li {
  list-style-type: none; }

.navButtons li a {
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  display: block; }

.navButtons li a:hover {
  text-decoration: none;
  color: #11C6B3;
  padding: 1.5rem;
  display: block;
  transition: .5s; }

.user {
  height: 100%;
  background-color: #39483D;
  float: left; }

/* navigation bar user title and profile picture container */
.userTitle {
  height: 100%;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  float: right;
  color: white;
  align-items: center;
  display: flex;
  margin-right: 3rem; }

/* user title */
.userPic {
  height: 100%;
  align-items: center;
  padding-top: .3vh;
  float: right;
  display: flex;
  margin-right: 1rem; }

/* user profile picture */
#userPic {
  height: 90%; }

.navLine {
  height: 2px;
  background-color: grey;
  width: 100%; }

/* navigation bar line break */
.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 1.2rem; }

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 1.5px; }

/* END NAVIGATION BAR */
.page-container {
  background-color: #222c25;
  height: 85vh;
  text-align: center;
  padding: 0;
  overflow: hidden; }

.overlay {
  background-image: url(../images/gradient.png);
  height: 100%;
  width: 100%; }

.movie-pic {
  height: 100%;
  width: 50%;
  float: left;
  background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), #222c25), url(../images/9187a8t2caL._AC_SY679_.jpg);
  background-size: cover; }

.cover-img {
  height: 80%;
  width: 40%;
  background-color: hotpink;
  float: right;
  margin-top: 10%;
  background-image: url(../images/9187a8t2caL._AC_SY679_.jpg);
  background-position: center; }

.movie-info {
  height: 100%;
  float: left; }

.movie-title {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: left;
  margin-left: 80px;
  font-size: 50px;
  font-weight: bold;
  padding-top: 100px; }

.ratings {
  font-family: 'Raleway', sans-serif;
  margin-left: 80px;
  margin-top: 10px;
  width: 50%;
  height: 30px;
  color: white;
  font-size: 15px;
  text-align: left; }

.ratings p {
  float: left; }

#div {
  padding-left: 20px;
  padding-right: 20px; }

.abstract {
  margin-left: 80px;
  margin-top: 40px;
  width: 80%;
  height: auto;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: left; }

#rating {
  background-color: #11C6B3;
  width: 30px;
  height: auto;
  border-radius: 2px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold; }

.buttons {
  margin-left: 80px;
  margin-top: 40px; }

#btn {
  float: left;
  width: 60px;
  height: 60px;
  cursor: pointer; }

.tablet-nav {
  background-color: #222c25;
  border-bottom: 1px solid white;
  height: 15vh;
  width: 100%; }

.tablet-profile {
  height: 100%;
  text-align: center; }

.tablet-profile img {
  cursor: pointer; }

.tablet-profile p {
  margin-top: 45px;
  padding-right: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  cursor: pointer; }

.tablet-page {
  width: 100%;
  height: 100%; }

.tablet-movie-pic {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #222c25), url(../images/9187a8t2caL._AC_SY679_.jpg);
  background-size: cover;
  padding-top: 10%; }

.tablet-cover-img {
  height: 80%;
  width: 40%;
  background-color: hotpink;
  background-image: url(../images/9187a8t2caL._AC_SY679_.jpg);
  background-position: center;
  margin: 0 auto; }

.tablet-movie-info {
  height: 100%;
  width: 100%; }

@media only screen and (max-width: 1024px) {
  .page {
    display: none; }

  .nav {
    display: none; }

  .tablet-nav {
    display: block; } }
/* @media queries for the navigation bar on mobile*/
@media (min-width: 200px) and (max-width: 750px) {
  .toggle-button {
    display: flex; }

  .navButtons {
    display: none;
    width: 100%; }

  .navigationBar {
    height: auto;
    flex-direction: column;
    align-items: flex-start; }

  .navButtons ul {
    width: 100%;
    flex-direction: column; }

  .navButtons li {
    text-align: center; }

  .navButtons li a {
    padding: .5rem;
    text-align: center; }

  .userTitle {
    display: none; }

  .userPic {
    display: none; }

  .navButtons li a:hover {
    color: white;
    padding: .5rem; }

  .navButtons.active {
    display: flex; }

  #navLogo {
    height: 100%;
    width: 80%;
    background-image: url("../images/logo-01.png");
    background-size: contain;
    background-repeat: no-repeat; } }
/* @media queries for the navigation bar for mobile */
/* @media queries for the navigation bar for tablet */
@media (min-width: 900px) and (max-width: 1300px) {
  .userTitle {
    display: none; }

  #navLogo {
    height: 100%;
    width: 80%;
    background-image: url("../images/logo-01.png");
    background-size: contain;
    background-repeat: no-repeat; }

  .navButtons li {
    font-size: 1rem; }

  .navButtons li a:hover {
    color: white; } }
@media (min-width: 750px) and (max-width: 850px) {
  .userTitle {
    display: none; }

  #navLogo {
    height: 100%;
    width: 80%;
    background-image: url("../images/logo-01.png");
    background-size: contain;
    background-repeat: no-repeat; }

  .navButtons li {
    font-size: .7rem; }

  .navButtons li a:hover {
    color: white; } }
@media (min-width: 850px) and (max-width: 900px) {
  .userTitle {
    display: none; }

  #navLogo {
    height: 100%;
    width: 80%;
    background-image: url("../images/logo-01.png");
    background-size: contain;
    background-repeat: no-repeat; }

  .navButtons li {
    font-size: .9rem; }

  .navButtons li a:hover {
    color: white; } }

/*# sourceMappingURL=individual.css.map */
