.head {
    height: 100vh;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 20px;
    text-align: center;
    padding-top: 200px;
    font-weight: bold;
    font-size: 30px;
}
