

.header {
    height: 100vh;
    background-color: #2A362D;
}

.head {
    height: 60%;
    width: 150px;
    background-color: #39483D;
    margin-left: 200px;
    margin-top: 20vh;
    float:left;
    border-top-left-radius: 10px;
}

.feature {
    height: 80%;
    width: 600px;
    background-color: white;
    margin-top: 10vh;
    float: left;
    border-radius: 10px;
}

.form {
    height: 60%;
    width: 1400px;
    background-color: #39483D;
    margin-top: 20vh;
    float: left;
    margin-right: 200px;
    border-top-right-radius: 10px;
}

/* form styling */

.title {
    margin-bottom: 30px;
    margin-left: 100px;
    color: white;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.form-container{
    width: 100%;
    height: 60vh;
    background-color: #39483D;
}

form {
    width: 50%;
    margin-left: 200px;
    float: left;
}

input {
    height: 40px;
    appearance: none;
    outline: 0;
    width: 300px;
    display: block;
    border: none;
    border-bottom: 1px solid white;
    background-color: #39483D;
    padding-left: 10px;
    transition-duration: 0.25s;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.397);
    font-family: 'Raleway', sans-serif;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.335);
}

.submit {
    margin-top: 60px;
    height: 40px;
    width: 300px;
    background-color: white;
    text-align: center;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

/* test input */

