@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  margin: 0;
  padding: 0;
  background-color: #2A362D !important; }

.con {
  width: 100%;
  height: 100vh; }

.zero {
  background-color: #2A362D;
  height: 80vh;
  width: 80%;
  margin: 0 auto;
  margin-top: 10vh;
  position: relative; }

.one {
  height: 100%;
  width: 15%;
  background-color: #39483D;
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center; }

#logo {
  height: 33.33%;
  cursor: pointer; }

#signup {
  height: 33.33%;
  cursor: pointer;
  color: white;
  font-size: 20px; }

#login {
  height: 33.33%;
  cursor: pointer;
  color: white;
  font-size: 20px; }

.two {
  height: 100%;
  width: 85%;
  float: left;
  position: relative;
  overflow: hidden; }

.slide {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 500ms; }

.three {
  width: 45%;
  height: 110%;
  margin-top: -2.5%;
  background-color: white;
  float: left;
  position: absolute;
  left: 15%;
  z-index: 999;
  border-radius: 10px; }

.four {
  width: 50%;
  height: 100%;
  background-color: #39483D;
  float: left;
  color: white;
  text-align: center; }

.slide-slide {
  margin-left: 50% !important; }

.five {
  width: 50%;
  height: 100%;
  border-top-right-radius: 10px;
  background-color: black;
  float: left;
  color: white;
  text-align: center; }

.form {
  height: 100%;
  width: 100%;
  border-top-right-radius: 10px;
  box-shadow: 9px -7px 15px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 9px -7px 15px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 9px -7px 15px 1px rgba(0, 0, 0, 0.3); }

.form-container {
  height: 100%;
  width: 100%;
  background-color: #222c25;
  border-top-right-radius: 10px; }

.signup {
  padding-top: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-bottom: 20px; }

.login {
  width: 70%;
  text-align: center;
  height: 100%;
  background-color: #222c25;
  margin: 0 auto; }

label {
  letter-spacing: 2px;
  padding-top: 10px;
  text-align: center;
  font-family: 'Raleway', sans-serif; }

.label-text {
  color: #ffffff7e;
  cursor: text;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  transform: translateY(-30px);
  transition: all 0.3s;
  font-family: 'Raleway', sans-serif; }

input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #d3d3d3;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px; }
  input:focus {
    max-width: 100%;
    width: 400px; }
    input:focus + .label-text {
      color: #ffffff;
      font-size: 13px;
      font-family: 'Raleway', sans-serif;
      transform: translateY(-50px); }
      input:focus + .label-text:valid + .label-text {
        font-size: 13px;
        font-family: 'Raleway', sans-serif;
        transform: translateY(-74px); }

#forgot {
  padding-top: 40px;
  cursor: pointer; }

#forgot:hover {
  color: #11C6B3; }

.button {
  margin-top: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 15px 30px;
  width: 200px;
  text-transform: uppercase;
  transition: all 200ms;
  border: none;
  border-radius: 10px;
  margin-top: 20px; }
  .button:hover, .button:focus {
    background-color: #11C6B3;
    color: #ffffff;
    outline: 0; }

#alt {
  padding-top: 20px;
  font-weight: bold; }

.login-page {
  width: 360px;
  padding: 30% 0 0;
  margin: auto; }

.form-two {
  position: relative;
  z-index: 1;
  background: #222c25;
  max-width: 360px;
  margin: 0 auto 300px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px; }

.form-two input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #222c25;
  border-bottom: 0.5px solid white;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 18px; }

.form-two button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.form-two button:hover, .form button:active, .form button:focus {
  background: #11C6B3; }

.form-two .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px; }

.form-two .message a {
  color: #11C6B3;
  text-decoration: none; }

.form-two .register-form {
  display: none; }

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto; }

.container:before, .container:after {
  content: "";
  display: block;
  clear: both; }

.container .info {
  margin: 50px auto;
  text-align: center; }

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a; }

.container .info span {
  color: #4d4d4d;
  font-size: 12px; }

.container .info span a {
  color: #000000;
  text-decoration: none; }

.container .info span .fa {
  color: #EF3B3A; }

/*# sourceMappingURL=landing.css.map */
