body{
    margin:0 !important;
    padding:0 !important;
    background-color:#222c25 !important;
}
/* BASELINE STYLING FOR BODY */

.container-fluid{
    padding:0 !important;
}
/* TO THE EDGES CONTAINER STYLING */



/* NAVIGATION BAR */
.navigationBar{
    margin:0;
    height:8vh;
    background-color:#39483D;
    display:flex;
}
/* BASELINE NAVIGATION BAR STYLING */

.navLogo{
    height:8vh;
    float:left;
    display:flex;
    justify-content: center;
}
/* navigation bar website logo */

#navLogo{
    height:100%;
    width:80%;
    background-image:url("../images/Group\ 42\ \(2\)\ 1.jpg");
    background-size: contain;
    background-repeat:no-repeat;
}
/* navigation bar website logo input/ this changes when screen size shifts/ shifting to the small logo */

.navButtons{
    height:100%;
    background-color:#39483D;
    float:left;
    display:flex;
    align-items:center;
    color:white;
    font-family:sans-serif;
    font-size:1.2rem;
    font-weight:bold;
}
/* navigation bar buttons */

.navButtons ul{
    margin:0;
    padding:0;
    display:flex;
}

.navButtons li{
    list-style-type: none;
}

.navButtons li a{
    text-decoration: none;
    color:white;
    padding:1.5rem;
    display:block;
}

.navButtons li a:hover{
    text-decoration: none;
    color:#11C6B3;
    padding:1.5rem;
    display:block;
    transition: .5s;
}

.user{
    height:100%;
    background-color:#39483D;
    float:left;
}
/* navigation bar user title and profile picture container */

.userTitle{
    height:100%;
    font-family:sans-serif;
    font-size: 1.2rem;
    font-weight:lighter;
    float:right;
    color:white;
    align-items: center;
    display:flex;
    margin-right:3rem;
}
/* user title */

.userPic{
    height:100%;
    align-items: center;
    padding-top:.3vh;
    float:right;
    display:flex;
    margin-right:1rem;
}
/* user profile picture */

#userPic{
height:90%;
}

.navLine{
    height:2px;
    background-color:grey;
    width:100%;
}
/* navigation bar line break */

.toggle-button{
    position:absolute;
    top:1.2rem;
    right:1rem;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:30px;
    height: 1.2rem;
}

.toggle-button .bar{
    height:3px;
    width:100%;
    background-color:white;
    border-radius:1.5px;
}


/* @media queries for the navigation bar on mobile*/
@media (min-width: 200px) and (max-width: 750px) {
    .toggle-button{
        display:flex;
    }

    .navButtons{
        display:none;
        width:100%;
    }

    .navigationBar{
        height:auto;
        flex-direction:column;
        align-items:flex-start;
    }

    .navButtons ul{
        width:100%;
        flex-direction: column;
    }
    
    .navButtons li{
        text-align:center;
    }

    .navButtons li a{
        padding:.5rem;
        text-align:center;
    }

    .userTitle{
        display:none;
    }

    .userPic{
        display:none;
    }
    .navButtons li a:hover{
        color:white;
        padding: .5rem;
    }

    .navButtons.active{
        display:flex;
    }

    #navLogo{
        height:100%;
        width:80%;
        background-image:url("../images/logo-01.png");
        background-size: contain;
        background-repeat:no-repeat;
    }

}
/* @media queries for the navigation bar for mobile */

/* @media queries for the navigation bar for tablet */
@media (min-width:900px) and (max-width:1300px){
    .userTitle{
        display:none;
    }
    #navLogo{
        height:100%;
        width:80%;
        background-image:url("../images/logo-01.png");
        background-size: contain;
        background-repeat:no-repeat;
    }

    .navButtons li{
        font-size:1rem;
    }

    .navButtons li a:hover{
        color:white;
    }
}

@media (min-width:750px) and (max-width:850px){
    .userTitle{
        display:none;
    }
    #navLogo{
        height:100%;
        width:80%;
        background-image:url("../images/logo-01.png");
        background-size: contain;
        background-repeat:no-repeat;
    }

    .navButtons li{
        font-size:.7rem;
    }

    .navButtons li a:hover{
        color:white;
    }
}

@media (min-width:850px) and (max-width:900px){
    .userTitle{
        display:none;
    }
    #navLogo{
        height:100%;
        width:80%;
        background-image:url("../images/logo-01.png");
        background-size: contain;
        background-repeat:no-repeat;
    }

    .navButtons li{
        font-size:.9rem;
    }

    .navButtons li a:hover{
        color:white;
    }
}
/* @media queries for the navigation bar for tablet */
/* NAVIGATION BAR */



/* HEADER SLIDER */
.headerSlider{
    height:80vh;
    background-color:white;
}
/* HEADER SLIDER */



/* GUTTER */
.gutter{
    height:100%;
    float:left;
    /* background-color:yellow */
}
/* GUTTER */

/* MIDDLE */
.middle{
    height:100%;
    float:left;
    display:flex;
}
/* MIDDLE */


/* RECOMMENDED FILMS SECTION */
.titleContainer{
    height:10vh;
    background-color:#222c25;
    margin-bottom:1rem;
}

.titleBox{
    height:100%;
    font-family:sans-serif;
    font-size:36px;
    color:white;
    align-items: center;
    float:left;
    padding-top:.8rem;
    font-weight:bold;
}

.recContainer{
    height:60vh;
    background-color:#222c25;
}

.recFilmContainer{
    height:50vh;
    float:left;
    display:flex;
    justify-content: space-evenly;
}

.filmCard{
    height:50vh;
    float:left;
}

.filmImg{
    height:90%;
    background-color:white;
    border-radius:.5rem;

}

.filmTitle{
    height:10%;
    font-family:sans-serif;
    font-weight:lighter;
    text-align:center;
    padding-top:3%;
    color:white;
}
/* RECOMMENDED FILMS SECTION */



/* MOVIE LIBRARY SECTION */
.movieFilterContainer{
    height: 7vh;
    display:flex;
    justify-content: space-evenly;
}

.filterButton{
    height:100%;
    background-color:#11C6B3;
    float:left;
    border-radius:5px;
    display: flex-start;
    font-family:sans-serif;
    font-size:1.2rem;
    color:#222c25;
    text-align:center;
    padding-top:.75rem;
}

.fbrm{
    margin-right:1rem;
}

.fblm{
    margin-left:4rem;
}

.grey{
    background-color:#595959;
    color:white;
}
/* MOVIE LIBRARY SECTION */