

.header {
    height: 100vh;
    background-color: #222c25;
}
/* MAIN CONTAINER OF CONTENT */

.container{
    height:auto;
    width:100%;
}

.slider{
height:90vh;
width:100%;
background-color:white;
color:black;
font-family: sans-serif;
text-align:center;
padding-top:40vh;
}
/* SLIDER CONTAINE/WHERE THE SLIDER WILL BE WHEN JS IS IMPLEMENTED */

.RecFilms{
    height:400px;
    width:100%;
    background-color:#222c25;
}
/* RECOMMENDED FILMS CONTAINER */

.RecSpacerV{
    height:25px;
    width:100%;
    background-color:#222c25;
}
/* VERTICAL SPACER BETWEEN CONTENT AND RECOMMENDED FILMS TITLE BOX */

.RecTitle{
    height:50px;
    width:100%;
    background-color:#222c25;
}
/* TITLE BOX OF THE RECOMMENDED FILMS */

.RecGutter{
    height:300px;
    float:left;
}
/* RECOMMENDED FILMS SIDE GUTTER/SPACER */

.RecContent{
    height:300px;
    background-color:#222c25;
    float:left;
}
/* RECOMMENDED FILMS CONTENT BOX */

.RecFilm{
    height:300px;
    background-color:white;
    float:left;
    border-radius:5px;
}
/* RECOMMENDED FILM CARD */

.RecMleft{
    margin-left:6.5%;
    float:left;
}
/* RECOMMENDED FILM MARGIN LEFT */

.RecMright{
    margin-right:7%;
    float:left;
}
/* RECOMMENDED FILM MARGIN RIGHT */

.RecTitleGutter{
    height:50px;
    float:left;
}
/* RECOMMENDED FILM TITLE BOX GUTTER/SPACER */

.RecTitleText{
    height:50px;
    float:left;
    font-family:sans-serif;
    color:white;
    padding-left:5.5%;
    font-size:30px;
}
/* RECOMMENDED FILMS TITLE BOX TEXT */

.RecTitleContent{
    height:50px;
    background-color:#222c25;
    margin: 0 auto;
}
/* RECOMMENDED FILM TITLES */

.RecFilmT{
    height:50px;
    float:left;
    text-align:center;
    padding-top:15px;
    font-family: sans-serif;
    color:white;
    font-size:15px;
}
/* RECOMMENDED FILM CARD TITLE BOX BELOW */

.RecTitleBoxes{
    background-color:#222c25;
    width:100%;
    height:50px;
}
/* RECOMMENDED FILMS TITLE BOXES CONTAINER */

.ContentSplitSpacer{
    height:50px;
    width:100%;
    background-color:#222c25;
}
/* CONTENT SPLITTER AID/ GAP BETWEEN COLOUR SHIFTS TO SPLIT CONTENT */

.movieLibraryContainer{
    height: 525px;
    width:100%;
    background-color:#39483D;
}

.MovTitle{
    height:50px;
    width:100%;
    background-color:#39483D;
}
/* TITLE BOX OF THE MOVIE LIBRARY */

.MovSpacerV{
    height:25px;
    width:100%;
    background-color:#39483D;
}
/* VERTICAL SPACER BETWEEN CONTENT AND MOVIE LIBRARY TITLE BOX */

.MovTitleGutter{
    height:50px;
    float:left;
}
/* MOVIE LIBRARY TITLE BOX GUTTER/SPACER */

.MovTitleText{
    height:50px;
    float:left;
    font-family:sans-serif;
    color:white;
    padding-left:5.5%;
    font-size:30px;
}
/* MOVIE LIBRARY TITLE BOX TEXT */

.MovGutter{
    height:300px;
    float:left;
}
/* MOVIE LIBRARY SIDE GUTTER/SPACER */

.MovContent{
    height:300px;
    background-color:#39483D;
    float:left;
}
/* MOVIE LIBRARY CONTENT BOX */

.MovFilm{
    height:300px;
    background-color:white;
    float:left;
    border-radius:5px;
}
/* MOVIE LIBRARY FILM CARD */

.MovMleft{
    margin-left:6.5%;
    float:left;
}
/* MOVIE LIBRARY MARGIN LEFT */

.MovMright{
    margin-right:7%;
    float:left;
}
/* MOVIE LIBRARY MARGIN RIGHT */

.MovTitleContent{
    height:50px;
    background-color:#39483D;
    margin: 0 auto;
}
/* MOVIE LIBRARY TITLES */

.MovFilmT{
    height:50px;
    float:left;
    text-align:center;
    padding-top:15px;
    font-family: sans-serif;
    color:white;
    font-size:15px;
}
/* MOVIE LIBRARY FILM CARD TITLE BOX BELOW */

.MovTitleBoxes{
    background-color:#39483D;
    width:100%;
    height:50px;
}
/* MOVIE LIBRARY TITLE BOXES CONTAINER */

.MovFilterBar{
    height:50px;
    width:100%;
    background-color:#39483D;
    margin-bottom:80px;
}

.MovFilterGutter{
    height:50px;
    float:left;
}
/* MOVIE LIBRARY FILTER BOX GUTTER/SPACER */

.MovFilterButton{
    height:40px;
    border-radius:5px;
    float:left;
    font-family:sans-serif;
    text-align:center;
    padding-top:5px;
    font-size:20px;
}
/* FILTER BUTTON BASELINE STYLING */

.filterButtonMarginX{
    margin-left: 5.5%;
    background-color:#11C6B3;
    color:#222c25;
}
/* EXTREME MARGINS FILTER BUTTONS */

.filterButtonMarginN{
    margin-left: 1%;
    background-color:#11C6B3;
    color:#222c25;
}
/* NORMAL FILTER BUTTON WITH NORMAL MARGINS */

.filterButtonMarginSX{
    margin-left: 5%;
    background-color:#595959;
    color:white;
}
/* ALL MOVIES STYLING/ ALONG WITH SUPER EXTREME MARGINS */