.container-fluid {
    padding: 0 !important;
}

// nav styling

.nav {
    background-color: #222c25;
    border-bottom: 1px solid white;
    height: 15vh;
}

.logo {
    height: 100%;
    padding-left: 40px;
    padding-top: 18px;
    cursor: pointer;
}

.links {
    height: 100%;
    text-align: center;
    display: flex;
    margin: 0 auto;
}


#navLink {
    font-family: 'Raleway', sans-serif;
    font-size:  20px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    border-bottom: none;
}

#navLink:hover {
    color: #11C6B3;
}

a {
    padding: 41px;
    cursor: pointer;
    
}



.profile {
    height: 100%;
    text-align: center;
    float: right;
}

.profile img {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.profile p{
    float: right;
    margin-top: 45px;
    padding-right: 20px;
    font-family: 'Raleway', sans-serif;
    font-size:  20px;
    font-weight: lighter;
    color: white;
    cursor: pointer;
}

// individual middle styling

.page-container {
    background-color: #222c25;
    height: 85vh;
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.overlay {
    background-image: url(../images/gradient.png);
    height: 100%;
    width: 100%;

}

.movie-pic {
    height: 100%;
    width: 50%;
    float: left;
    background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), #222c25),
    url(../images/9187a8t2caL._AC_SY679_.jpg);
    background-size: cover;
}

.cover-img {
    height: 80%;
    width: 40%;
    background-color: hotpink;
    float: right;
    margin-top: 10%;
    background-image:url(../images/9187a8t2caL._AC_SY679_.jpg);
    background-position: center;
}

.movie-info {
    // background-color: greenyellow;
    height: 100%;
    float: left;
}

.movie-title {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: left;
    margin-left: 80px;
    font-size: 50px;
    font-weight: bold;
    padding-top: 100px;
}

.ratings {
    font-family: 'Raleway', sans-serif;
    margin-left: 80px;
    margin-top: 10px;
    width: 50%;
    height: 30px;
    color: white;
    font-size: 15px;
    text-align: left;
}

.ratings p {
    float: left;
}

#div {
    padding-left: 20px;
    padding-right: 20px;
}

.abstract {
    margin-left: 80px;
    margin-top: 40px;
    width: 80%;
    height: auto;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: left;
}

#rating {
    background-color: #11C6B3;
    width: 30px;
    height: auto;
    border-radius: 2px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    
}
.buttons {
    margin-left: 80px;
    margin-top: 40px;
}

#btn {
    float: left;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
