.header {
    height: 100vh;

}

.head {
    height: 70%;
    width: 150px;
    background-color: #222c25;
    margin-left: 200px;
    margin-top: 15vh;
    float:left;
    border-top-left-radius: 10px;
    box-shadow: -8px -7px 15px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: -8px -7px 15px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: -8px -7px 15px 1px rgba(0,0,0,0.3);
}

.feature {
    height: 80%;
    width: 700px;
    background-color: #ffffff;
    margin-top: 10vh;
    float: left;
    border-radius: 10px;
    display: block;
}

.form {
    height: 70%;
    width: 600px;
    margin-top: 15vh;
    float: left;
    border-top-right-radius: 10px;
    // overflow: hidden;
    box-shadow: 9px -7px 15px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 9px -7px 15px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 9px -7px 15px 1px rgba(0,0,0,0.3);
}

.form-container {
    height: 100%;
    width: 1200px;
    background-color: #222c25;
    float: left;
    margin-right: 200px;
    border-top-right-radius: 10px;

}


// navigations styling

.logo {
    height: 33.3%;
    width: 100%;
    padding-top: 25px;
    cursor: pointer;
}

.login {
    height: 33.3%;
    width: 100%;
    padding-top: 60px;
    padding-left: 35px;
    cursor: pointer;
}

.create {
    height: 33.3%;
    width: 100%;
    padding-top: 60px;
    padding-left: 40px;
    cursor: pointer;
    transition: all ease-out 800ms;
    
}

.create-active {
    height: 33.3%;
    width: 100%;
    padding-top: 60px;
    padding-left: 40px;
    cursor: pointer;
    border-left: 3px solid #11C6B3;
    transition: all ease-out 800ms;
}

/* form styling */

.signup {
    padding-top: 30px;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

form {
    width: 50%;
    text-align: center;
    height: 100%;
    background-color: blue;
    float:left;
}


label {
  letter-spacing: 2px;
  padding-top: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
} 

.label-text {
    color: #ffffff7e;
    cursor: text;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    transform:(translateY(-30px));
    transition: all 0.3s;
    font-family: 'Raleway', sans-serif;
  }

input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #d3d3d3;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;


    &:focus {
        max-width: 100%;
        width: 400px;


    & + .label-text {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    transform:(translateY(-60px));

        
    &:valid + .label-text {
        font-size: 13px;
        font-family: 'Raleway', sans-serif;
        transform:(translateY(-74px));
  
}
}
}
}
      
.button {
    margin-top: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 15px 30px;
    width: 200px;
    text-transform: uppercase;
    transition: all 200ms;
    border: none;


  &:hover, &:focus {
    background-color: #11C6B3;
    color: #ffffff;
    outline: 0;
}
}

// testing particles

/* Config */
$color-particle: #e3f0e5;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing)+px random($spacing)+px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

/* Styles */



.page-bg, .animation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-bg {
    background-color: #2A362D;
  background-size: cover;
  z-index: -1;
}

.particle, .particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(1000);
  height: 2px;
  width: 2px;
}

.particle-1:after {
  @include particles(900);
  height: 2px;
  width: 2px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(800);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(500);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(1100);
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(1200);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(700);
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}