.header {
    height: 100vh;
    background-color: #2A362D;
}

.head {
    height: 70%;
    width: 150px;
    background-image: linear-gradient( #222c25, #222c2500);
    margin-left: 200px;
    margin-top: 15vh;
    float:left;
    border-top-left-radius: 10px;
}

.feature {
    height: 90%;
    width: 600px;
    background-color: #11C6B3;
    margin-top: 5vh;
    float: left;
    border-radius: 10px;
    display: block;
}

.form {
    height: 70%;
    width: 700px;
    margin-top: 15vh;
    float: left;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.form-container {
    height: 100%;
    width: 1400px;
    background-image: linear-gradient( #222c25, #222c2500);
    float: left;
    margin-right: 200px;
    border-top-right-radius: 10px;
}

// Feature styling

.logo {
    height: 33.3%;
    width: 100%;
    padding-top: 25px;
}

.login {
    height: 33.3%;
    width: 100%;
}

.create {
    height: 33.3%;
    width: 100%;
}

/* form styling */

.signup {
    padding-top: 30px;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

form {
    width: 50%;
    text-align: center;
    display: block;
    height: 100%;
}

.signin {
    float: left;

}

.login {
    float: left;

}

label {
  letter-spacing: 2px;
  padding-top: 20px;
  text-align: center;
} 

.label-text {
    color: #ffffff;
    cursor: text;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    transform:(translateY(-30px));
    transition: all 0.3s;
  }

  input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #d3d3d3;
    color: rgb(0, 0, 0);
    font-size: 36px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
  
    
    &:focus {
      max-width: 100%;
      width: 400px;
    

    & + .label-text {
    color: #ffffff;
    font-size: 13px;
    transform:(translateY(-60px));
    
      
    &:valid + .label-text {
      font-size: 13px;
      transform:(translateY(-74px));
  
}
}
}
}
      
.button {
    margin-top: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    padding: 15px 30px;
    width: 200px;
    text-transform: uppercase;
    transition: all 200ms;
    border: none;


  &:hover, &:focus {
    background-color: #11C6B3;
    color: #ffffff;
    outline: 0;
}
}