.container-fluid {
    padding: 0 !important;
}

// nav styling

.nav {
    background-color: #222c25;
    border-bottom: 1px solid white;
    height: 15vh;
}

.logo {
    height: 100%;
    padding-left: 40px;
    padding-top: 18px;
    cursor: pointer;
}

.links {
    height: 100%;
    text-align: center;
    display: flex;
    margin: 0 auto;
}


#navLink {
    font-family: 'Raleway', sans-serif;
    font-size:  20px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    border-bottom: none;
}

#navLink:hover {
    color: #11C6B3;
}

a {
    padding: 41px;
    cursor: pointer;
    
}



.profile {
    height: 100%;
    text-align: center;
    float: right;
}

.profile img {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.profile p{
    float: right;
    margin-top: 45px;
    padding-right: 20px;
    font-family: 'Raleway', sans-serif;
    font-size:  20px;
    font-weight: lighter;
    color: white;
    cursor: pointer;
}

// watch later styling

.page {
    background-color: #222c25;
    height: auto;
    text-align: center;
    padding: 0;
}

.title {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size:  10px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 80px;
}

.gutter {
    float: left;
    height: 300px;
}

.movieCards {
    height: 300px;
    float: left;
    margin-bottom: 80px;
}

.card {
    height: 100%;
    background-color: transparent !important;
    border: none;
    border-radius: 10px;
}

.img_con {
    height: 85%;
    background-color: rgba(255, 255, 255, 0.315);
    padding-right: 20px;
    // overflow: hidden;
}

.card-body {
    height: 10%;
    text-align: center;
}

.movie-title {
    font-size: 15px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


// footer 

.footer {
    background-color: #222c25;
    height: 20vh;
    position: relative;
    
}

.footerBlock {
    height: 100%;
    float: left;  

}


.social img {
    padding: 20px;
    cursor: pointer;
}


.info {

    
}

.button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    float: left;
    margin: 20px;
    cursor: pointer;
    text-align: center;
}

.button p{
    padding-top: 8px;
}

.newsletter {
    background-color: #11C6B3;
    color:white;
}

.newsletter:hover {
    background-color: white;
    color: black
}

.help {
    background-color: white;
    color: black;
}

.help:hover {
    background-color: #11C6B3;
    color:white;
}

.pattern img {
    
}

